body{
	background: #000000;
	font-size: 62.5%;
	font-family: 'Varela Round', Helvetica, Arial, serif;
}
.fucsia{
	background: #FF33FF !important ;
	color: black !important;
}
.blanco{
	background: #ffffff !important ;
	color: black !important;
}
.negro{
	background: #000000 !important ;
	color: white !important;
}
.rojo{
	background: #E74C3C !important;
	color: white !important;
}
.azul{
	background: #2980B9 !important;
	color: white !important;
}
.verde{
	background: #58D68D !important;
	color: white !important;
}
.amarillo{
	background: #F4D03F !important;
	color: white !important;
}
.naranja{
	background: #F39C12 !important;
	color: white !important;
}
.gris{
	background: #D5D8DC !important;
	color: black !important;
}
.violeta{
	background: #A569BD !important;
	color: white !important;
}

.font-white{
	color: white;
}
/* Global Styles*/
h1{

}

#img-logo{
	width: 90px;
}

h2{
}

h5{
	font-size: 1rem;
	margin-bottom: 0;

}

p{
	font-size: 1rem;
}

button{
	font-size: 1rem;
	color: white;
	padding: 0.4rem 1.4rem;
	border: none;
	background: #7A9D96;
	 border-radius: 4px;
	cursor: pointer;

}

img{
	object-fit: cover;
}

/* Nav bar */
.main-head{
	background: white;
	color: black;
}

nav.main{
	min-height: 7vh;
	display: flex;
	width: 65%;
	margin: auto; 
	align-items: center;
	padding: 0.5rem;
}

nav.main ul{
	display: flex;
	flex: 1 1 40rem;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

#logo{
	flex: 2 1 40rem;
}

#logoimg{
	flex: 5 1 40rem;
}

/* -----*/

a{
	font-size: .93rem;
	text-decoration: none;
	color: black;
}


.main{
	background: white;
	width: 60%;
	margin: 5% auto;
	border-radius: 4px;
	padding-bottom: 20px;
}

/* NAVIGATION BAR */
.second-nav{
	display: flex;
	padding: 15px 30px;
	border-bottom: 1px;
}

.second-nav .feed{
	flex: 1 1 30px;
}

.second-nav .feed:hover{
	flex: 1 1 30px;
	color: grey;
}

.second-nav .profile{
	flex: 1 1 30px;
}

.second-nav .profile:hover{
	flex: 1 1 30px;
	color: grey;
}

.second-nav .new{
	flex: 6 1 5rem;
	text-align: right;
	text-transform: uppercase;
  	color: #7A9D96;
}

.second-nav .new:hover{
	color: grey;
}

/* Article */

article{
	width: 93%;
	margin: auto;
	padding: 40px 0;
	border-bottom: 2px solid #ECEEEF;
}

.username{
	margin-bottom: .2rem;
}

.username a{
	font-size: 1.1rem;
}

.container-article{
  display: flex;
}

.container-article img{
  height: 68px;
  width: 68px;
  margin-right: 10px;
  border-radius: 50%;
}

article:last-child {
  border-bottom: 0;
}

time {
  font-size: .8rem;
  opacity: .7;
}

.post{
	font-size: .94rem;
}

/* PROFILE */
.profile{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.profile img{
  height: 100px;
  width: 100px;
  margin-right: 10px;
  border-radius: 50%;
  margin: 20px;
}
.profile h2{
	margin-top: -10px;
	font-size: 1.3rem;
}

.circle{
	height: 140px;
  width: 140px;
  /*margin-right: 10px;*/
  border-radius: 50%;
  margin-top: -40px;
  margin-bottom: 10px;
}
.circle2{
	height: 140px;
  width: 140px;
  /*margin-right: 10px;*/
  border-radius: 50%;
  margin-top: -60px !important;
  margin-bottom: 10px;
}

/* Followers / Following / Post */
.follow{
	display: flex;
	width: 95%;
	justify-content: space-around;
	margin: 30px auto;
	text-align: center;
	border-bottom: 2px solid #ECEEEF;
	padding-bottom: 20px;
}


/*Form Elements*/
form {
    margin: 0;
    padding: 40px;
    font-size: 1rem;
}
input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
input:focus {
  border-color: #7A9D96;
  color: #2C3238;
}
textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
textarea:focus {
  border-color: #7A9D96;
  color: #2C3238;
}
button#submit {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #7A9D96;
  color: #fff;
  border: 0;
  border-radius: 4px;
  opacity: .8;
  transition: .35s linear;
}

button#submit:hover {
  opacity: 1;
}

/*Notifications*/
.notification {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.9rem;
}
.success {
  background: #43DC7E;
  color: white;
}
.error {
  background: #AB3444;
  color: white;
  margin-bottom: 20px;
}


/*Footer*/
footer{
  color: white;
  text-align: center;
  font-size: .875em;
  margin: 40px 0;
}

footer p {
  opacity: .8;
}

footer p a {
  color: white;
}

img.profile{
  height: 80px;
  width: 80px;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 50%;
}


.follow-button{
  color: white;
}

/*Media Queries*/
@media (max-width: 786px) {
  .main {
    width: 95%;
  }

}

.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #E91E63; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
	}
	.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
	}
	@media only screen and (max-width: 600px) {
	.btn-flotante {
	font-size: 14px;
	padding: 12px 20px;
	bottom: 20px;
	right: 20px;
	}
	}

	.tilt {
		transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-webkit-transform: rotate(3deg);
	  }
	
	
	  .column {
		width: 170px;
		float: left;
		padding-bottom: 100px;
	  }
	  .portlet {
		margin: 0 1em 1em 0;
		padding: 0.3em;
	  }
	  .portlet-header {
		padding: 0.2em 0.3em;
		margin-bottom: 0.5em;
		position: relative;
	  }
	  .portlet-toggle {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -8px;
	  }
	  .portlet-content {
		padding: 0.4em;
	  }
	  .portlet-placeholder {
		border: 1px dotted black;
		margin: 0 1em 1em 0;
		height: 50px;
	  }
	