{% extends 'social/layout.html' %}
{% load humanize %}
{% block content %}

    {% if request.user.is_authenticated %}
        {% for url in urls %}
        <div class="container">
            <div class="list-group p-2">
                <div class="list-group-item list-group-item-action">
                <!--<a href="#" class="list-group-item list-group-item-action" aria-current="true">-->
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ url.title }} - {{url.modo|title}}</h5>
                        <small>{{ url.timestamp|naturaltime }}</small>
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <a href="{% url 'editar' title=url.title %}">
                            <span class="material-icons">create</span>
                          </a>
                          <a href="{% url 'eliminar' urls=url.title %}">
                            <span class="material-icons">delete</span>
                          </a>
                        </div>
                    </div>
                    <p class="mb-1">{{ url.content }}</p>
                    <!--<small>And some small print.</small>-->
                <!--</a>-->
                </div>
            </div>
        </div>

        {% endfor %}
    {% endif %}
{% endblock %}