<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Leyendo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="{% static 'FileSaver.js' %}"></script>	
	<link rel="shortcut icon" href="../../static/favicon.png">

	<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'font2.css' %}">
</head>
<script type="text/javascript" src="../../static/functions.js"></script>
<script type="text/javascript">
    function capturarGuardar() {
        let navegador = navigator.userAgent.toLowerCase();
        let tipoCadena = 0
        if (navegador.indexOf('chrome') > -1) {
            tipoCadena = 1
        } else if (navegador.indexOf('firefox') > -1) {
            tipoCadena = 1
        } else if (navegador.indexOf('opera') > -1) {
            tipoCadena = 1
        } else {
            tipoCadena = 2
        }
        console.log(navegador)
        console.log(tipoCadena)

        let nombre = document.getElementById("nombre").textContent
        let company = document.getElementById("company").textContent
        let location = document.getElementById("location").textContent
        let phone = document.getElementById("phone").textContent
        let mail = document.getElementById("mail").textContent
        let website = document.getElementById("website").textContent
        if (tipoCadena === 1) {
            cadena = 'BEGIN:VCARD\n'
            cadena += 'VERSION:3.0\n'
            cadena += 'N:' + nombre + '\n'
            cadena += 'FN:' + nombre + '\n'
            cadena += 'ORG:' + company + '\n'
            cadena += 'TEL;waid=' + phone + ':' + phone + '\n'
            // cadena += 'X-ABLabel:M&oacute;vil' + '\n'
            cadena += 'ADR:' + location + '\n'
            cadena += 'URL:' + website + '\n'
            cadena += 'EMAIL;type=INTERNET:' + mail + '\n'
            // cadena += 'item2.X-ABLabel:Casa' + '\n'
            cadena += 'END:VCARD'

            console.log(cadena)
            let blob = new Blob([cadena]);
            saveAs(blob, `${nombre}.vcf`)
        } else if (tipoCadena === 2) {
            cadena = 'BEGIN:VCARD\n'
            cadena += 'VERSION:3.0\n'
            cadena += 'N:' + nombre + '\n'
            cadena += 'FN:' + nombre + '\n'
            cadena += 'ORG:' + company + '\n'
            cadena += 'TEL;waid=' + phone + ':' + phone + '\n'
            // cadena += 'X-ABLabel:M&oacute;vil' + '\n'
            cadena += 'ADR:' + location + '\n'
            cadena += 'URL:' + website + '\n'
            cadena += 'CORREO ELECTRÓNICO,INTERNET:' + mail + '\n'
            // cadena += 'item2.X-ABLabel:Casa' + '\n'
            cadena += 'END:VCARD'
            console.log(cadena)
            let blob = new Blob([cadena]);
            let fileLink = document.createElement("a");

            fileLink.href = window.URL.createObjectURL(blob);
            fileLink.setAttribute("download", `${nombre}.vcf`);
            document.body.appendChild(fileLink);

            fileLink.click();
            // saveAs(blob, `${nombre}.vcf`)
        }
    }
    function showShare(){
        let shareLinks = document.getElementById('shareLinks');
        shareLinks.hidden
        ? shareLinks.hidden = false
        : shareLinks.hidden = true
    }
</script>
{% for usuarios in usuario %}
<body class="{{ usuarios.colorFondo }}">
{% endfor %}
<div class="row">
    <div class="col-12">
        {% for usuarios in usuario %}
            {% if usuarios.modo == 'Business' %}
                <img src="../../../media/{{ usuarios.portadaB }}" class="img-fluid img-responsive" style="height: 200px; width: inherit;">
            {% elif usuarios.modo == 'Social' %}
                <img src="../../../media/{{ usuarios.portadaS }}" class="img-fluid img-responsive" style="height: 200px; width: inherit;">
            {% else %}
                <img src="../../../media/{{ usuarios.portadaO }}" class="img-fluid img-responsive" style="height: 200px; width: inherit;">
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="container">
	<div class="row align-items-center">
		<div class="col">
			{% for usuarios in usuario %}
                {% if usuarios.modo == 'Business' %}
			        <center><img src="../../../media/{{ usuarios.imageB }}" class="circle" alt="..."></center>
			    {% elif usuarios.modo == 'Social' %}
                    <center><img src="../../../media/{{ usuarios.imageS }}" class="circle" alt="..."></center>
			    {% else %}
                    <center><img src="../../../media/{{ usuarios.imageO }}" class="circle" alt="..."></center>
			    {% endif %}
            {% endfor %}
		</div>
		<div class="col-12" >
			{% for usuarios in usuario %}
                {% if usuarios.modo == 'Business' %}
			        <center><h4>{{ usuarios.nombreB }}</h4></center>
                {% elif usuarios.modo == 'Social' %}
			        <center><h4>{{ usuarios.nombreS }}</h4></center>
                {% else %}
			        <center><h4>{{ usuarios.nombreO }}</h4></center>
                {% endif %}
			{% endfor %}
		</div>
		<div class="col-md-8 offset-md-2 col-sm-12 d-grid gap-2">
			{% for url in urls %}
				{% for usuarios in usuario %}
					{% if url.tipo == 'text' %}
                        <p id="copy_data" style="display: none;">{{ url.content }}</p>
                        <button class="btn block {{ usuarios.colorBoton }}" onclick="copiarAlPortapapeles('copy_data')" id="copy_url">{{ url.title }}</button>
					{% endif %}
                    {% if url.tipo == 'phone' %}
					    <a href ="tel:{{url.phone}}" type="button" target="_blank" class="btn block {{ usuarios.colorBoton }}">{{ url.title }}</a>
					{% endif %}
                    {% if url.tipo == 'location' %}
					    <a href ="{{ url.location }}" type="button" target="_blank" class="btn block {{ usuarios.colorBoton }}">{{ url.title }}</a>
					{% endif %}
                    {% if url.tipo == 'file' %}
					    <a href ="../../../media/{{ url.archivo }}" type="button" target="_blank" class="btn block {{ usuarios.colorBoton }}">{{ url.title }}</a>
					{% endif %}
                    {% if url.tipo == 'email' %}
					    <a href ="mailto:{{url.mail}}" type="button" target="_blank" class="btn block {{ usuarios.colorBoton }}">{{ url.title }}</a>
					{% endif %}
                    {% if url.tipo == 'wallet' %}
                        <p id="copy_data" style="display: none;">{{ url.content }}</p>
                        <button class="btn block {{ usuarios.colorBoton }}" onclick="copiarAlPortapapeles('copy_data')" id="copy_url">{{ url.title }}</button>
					{% endif %}
                    {% if url.tipo == 'contact' %}
                        <a class="btn block {{ usuarios.colorBoton }}" onclick="capturarGuardar()">CONTACTO</a>
                        <div hidden>
                            <p id="nombre">{{ url.title }}</p>
                            <p id="company">{{ url.company }}</p>
                            <p id="location">{{ url.location }}</p>
                            <p id="phone">{{ url.phone }}</p>
                            <p id="mail">{{ url.mail }}</p>
                            <p id="website">{{ url.website }}</p>
                        </div>
					{% endif %}
                    {% if url.tipo == 'url' %}
					    <a href ="{{ url.content }}" type="button" target="_blank" class="btn block {{ usuarios.colorBoton }}">{{ url.title }}</a>
					{% endif %}
				{% endfor %}	
			{% endfor %}
{#        <a href="../../../media/vfc/jere.vcf" type="button" target="_blank" >Prueba</a>#}
		</div>	
	</div>
</div>
<p id="copy_data" style="display: none;">mi.leyendo.online/leyendo/{{ user }}</p>
    <div class="social-bar" id="shareLinks" hidden>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://mi.leyendo.online/leyendo/{{ user }}" class="icon icon-facebook" target="_blank"></a>
        <a href="https://twitter.com/intent/tweet?url=https://mi.leyendo.online/leyendo/{{ user }}" class="icon icon-twitter" target="_blank"></a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://mi.leyendo.online/leyendo/{{ user }}" class="icon icon-linkedin2" target="_blank"></a>
        <a href="https://api.whatsapp.com/send?text=https://mi.leyendo.online/leyendo/{{ user }}" class="icon icon-whatsapp" target="_blank"></a>
        <a href="#" onclick="copiarAlPortapapeles('copy_data')" class="icon icon-copy"></a>
    </div>
    <button class="btn-flotante" style="background-color: black;" onclick="showShare()" id="copy_url"><span class="material-icons">share</span></button>
<br>
  <br>
  <br>
  <br>
  <br>
	<br>
	<br>
	<br>
<footer class="text-center">
{% for usuarios in usuario %}
  <!-- Grid container -->
  <div class="container p-2 {{ usuarios.colorFondo }}">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="col-8 offset-2">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <img src="../../static/{{urlimg}}" class="w-24" id="img-logo" />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center {{ usuarios.colorFondo }}">
    © 2021 Copyright:
    <a href="https://leyendo.online/" class="text-white">Leyendo</a>
  </div>
  <!-- Copyright -->
  {% endfor %}
</footer>
</body>
<style>
    .social-bar {
        position: fixed;
        right: 40px;
        top: 50%;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 100;
    }
    .icon {
        color: white;
        text-decoration: none;
        padding: 0.7rem;
        display: flex;
        transition: all .5s;
        font-size: 25px;
    }
    .icon-facebook {
        background: #2E406E;
    }
    .icon-twitter {
        background: #339DC5;
    }
    .icon-whatsapp {
        background: #3b8e0f;
    }
    .icon-linkedin2 {
        background: #3F60A5;
    }
    .icon-copy {
        background: grey;
    }
    .icon:first-child {
        border-radius: 1rem 1rem 0 0;
    }
    .icon:last-child {
        border-radius: 0 0 1rem 1rem;
    }
    .icon:hover {
        padding: 1.5rem;
        border-radius: 1rem 1rem 1rem 1rem;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    }
</style>