<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Leyendo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="{% static 'FileSaver.js' %}"></script>	
	<link rel="shortcut icon" href="../../static/favicon.png">

	<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<script type="text/javascript">



	function copiarAlPortapapeles(id_elemento) {

	  // Crea un campo de texto "oculto"
	  var aux = document.createElement("input");

	  // Asigna el contenido del elemento especificado al valor del campo
	  aux.setAttribute("value", document.getElementById(id_elemento).innerHTML);


	  // Añade el campo a la página
	  document.body.appendChild(aux);

	  // Selecciona el contenido del campo
	  aux.select();

	  // Copia el texto seleccionado
	  document.execCommand("copy");

	  // Elimina el campo de la página
	  document.body.removeChild(aux);

	  alert("URL copiada")
	}


/**	$("#guardar").click(function(){
		var blob = new Blob(['Prueba'],
		{type: "text/plain;charset=utf-8"}
		);
		saveAs(blob, 'example.txt')
	})**/

	function generarVCF(){
		var blob = new Blob([BEGIN: VCARD
VERSION: 3.0
N: nombre
FN: 
ORG: company
TEL; CELULAR; VOZ: phone
ADR; TRABAJO:; location
URL; TRABAJO: website
CORREO ELECTRÓNICO, INTERNET: mail
END: VCARD]);
		saveAs(blob, 'example.vcf')
	}
	function capturarGuardar(){
		nombre = $("#nombre").val()
		company = $("#company").val()
		location = $("#location").val()
		phone = $("#phone").val()
		mail = $("#mail").val()
		website = $("#website").val()
		generarVCF(nombre,company,location,phone,mail,website)
		
	}
</script>
{% for usuarios in usuario %}
<body class="{{ usuarios.colorFondo }}">
{% endfor %}
<div class="row">
			<div class="col-12">
			{% for usuarios in usuario %}
                {% if usuarios.modo == 'Business' %}
				    <img src="../../../media/{{ usuarios.portadaB }}" class="img-fluid img-responsive" style="height: 200px; width: inherit;">
				{% elif usuarios.modo == 'Social' %}
                    <img src="../../../media/{{ usuarios.portadaS }}" class="img-fluid img-responsive" style="height: 200px; width: inherit;">
				{% else %}
                    <img src="../../../media/{{ usuarios.portadaO }}" class="img-fluid img-responsive" style="height: 200px; width: inherit;">
			    {% endif %}
            {% endfor %}
		</div>
</div>
<div class="container">
	<div class="row align-items-center">
		<div class="col">
			<button id="guardar" onclick="capturarGuardar()">Descargar</button>
			{% for usuarios in usuario %}
                {% if usuarios.modo == 'Business' %}
			        <center><img src="../../../media/{{ usuarios.imageB }}" class="circle" alt="..."></center>
			    {% elif usuarios.modo == 'Social' %}
                    <center><img src="../../../media/{{ usuarios.imageS }}" class="circle" alt="..."></center>
			    {% else %}
                    <center><img src="../../../media/{{ usuarios.imageO }}" class="circle" alt="..."></center>
			    {% endif %}
            {% endfor %}
		</div>
		<div class="col-12" >
			{% for usuarios in usuario %}
                {% if usuarios.modo == 'Business' %}
			        <center><h4>{{ usuarios.nombreB }}</h4></center>
                {% elif usuarios.modo == 'Social' %}
			        <center><h4>{{ usuarios.nombreS }}</h4></center>
                {% else %}
			        <center><h4>{{ usuarios.nombreO }}</h4></center>
                {% endif %}
			{% endfor %}
		</div>
		<div class="col-md-8 offset-md-2 col-sm-12 d-grid gap-2">
			{% for url in urls %}
				{% for usuarios in usuario %}
					{% if tipo == 'text' %}
					<p id="copy_data" style="display: none;">{{ url.content }}</p>
					<button class="btn block {{ usuarios.colorBoton }}" onclick="copiarAlPortapapeles('copy_data')" id="copy_url"></button>
					{elif tipo == 'phone'}
					<a href ="tel:{{url.phone}}" type="button" target="_blank" class="btn block {{ usuarios.colorBoton }}">{{ url.title }}</a>
					{elif tipo == 'location'}
					<a href ="{{ url.location }}" type="button" target="_blank" class="btn block {{ usuarios.colorBoton }}">{{ url.title }}</a>
					{elif tipo == 'file'}
					<a href ="../../../media/{{ url.archivo }}" type="button" target="_blank" class="btn block {{ usuarios.colorBoton }}">{{ url.title }}</a>
					{elif tipo == 'email'}
					<a href ="mailto:{{url.mail}}" type="button" target="_blank" class="btn block {{ usuarios.colorBoton }}">{{ url.title }}</a>
					{elif tipo == 'wallet'}
					<p id="copy_data" style="display: none;">{{ url.content }}</p>
					<button class="btn block {{ usuarios.colorBoton }}" onclick="copiarAlPortapapeles('copy_data')" id="copy_url"></button>
					{elif tipo == 'contact'}
					<p id="nombre">{{url.title}}</p>
					<p id="compania">{{url.company}}</p>
					<p id="location">{{url.location}}</p>
					<p id="phone">{{url.phone}}</p>
					<p id="mail">{{url.mail}}</p>
					<p id="website">{{url.website}}</p>
					<a class="btn block {{ usuarios.colorBoton }}"></a>
					{else}
					<a href ="{{ url.content }}" type="button" target="_blank" class="btn block {{ usuarios.colorBoton }}">{{ url.title }}</a>
					{% endif %}
				{% endfor %}	
			{% endfor %}
		</div>	
	</div>
</div>
<p id="copy_data" style="display: none;">mi.leyendo.online/leyendo/{{ user }}</p>
<button class="btn-flotante" onclick="copiarAlPortapapeles('copy_data')" id="copy_url"><span class="material-icons">share</span></button>
  <br>
  <br>
  <br>
  <br>
  <br>
	<br>
	<br>
	<br>  
<footer class="text-center">
{% for usuarios in usuario %}
  <!-- Grid container -->
  <div class="container p-2 {{ usuarios.colorFondo }}">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="col-8 offset-2">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <img src="../../static/{{urlimg}}" class="w-24" id="img-logo" />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center {{ usuarios.colorFondo }}">
    © 2021 Copyright:
    <a href="https://leyendo.online/" class="text-white">Leyendo</a>
  </div>
  <!-- Copyright -->
  {% endfor %}
</footer>
</body>