{% extends 'social/layout.html' %}
{% block content %}
<div class="PasswordResetForm">
	<div class="row">
		<div class="col-4 offset-4">
			<p>Ingrese su correo electronico y le enviaremos las instrucciones para recuperar su contraseña.</p>
			
			<form action="" method="post">
				{% csrf_token %}
				{% if form.non_field_errors %}
					<div class="form-group">
						{{ form.non_field_errors }}
					</div>
				{% endif %}

				{% for field in form.visible_fields %}
					<div class="form-group">
						{{ field.label_tag }}
						{{ field }}
						{{ field.errors }}
						<div class="helpText">{{ field.help_text|safe }}</div>
					</div>
				{% endfor %}
					<button type="submit"class="btn btn-dark"> Recuperar contraseña</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}