{% extends 'social/layout.html' %}
{% load static%}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'functions.js' %}"></script>

{% if request.user.is_authenticated %}
<div class="row">
	<div class="col-12">
        {% if user.profile.modo == 'Business' %}
		    <img src="{{ user.profile.portadaB.url}}" class="img-fluid img-responsive" style="height: 200px; width: inherit;" alt="">
        {% elif user.profile.modo == 'Social' %}
            <img src="{{ user.profile.portadaS.url}}" class="img-fluid img-responsive" style="height: 200px; width: inherit;" alt="">
        {% else %}
            <img src="{{ user.profile.portadaO.url}}" class="img-fluid img-responsive" style="height: 200px; width: inherit;" alt="">
        {% endif %}
	</div>
</div>
<div class="profile">
    <img id="id_nombreB" class="circle2" src="{{ user.profile.imageB.url }}" alt="">
    <h2 id="nombreB" ondblclick="changeNameB()">{{ user.profile.nombreB }}</h2>
    <img id="id_nombreS" class="circle2" src="{{ user.profile.imageS.url }}" alt="">
    <h2 id="nombreS" ondblclick="changeNameS()">{{ user.profile.nombreS }}</h2>
    <img id="id_nombreO" class="circle2" src="{{ user.profile.imageO.url }}" alt="">
    <h2 id="nombreO" ondblclick="changeNameO()">{{ user.profile.nombreO }}</h2>
    <form class="form" method="get" enctype="multipart/form-data" id="formNameB">
        {% csrf_token %}
        <h2>{{ formName.nombreB }} <span class="material-icons btn" onclick="saveB();">save</span><span class="material-icons btn" onclick="history.back();">cancel</span></h2>
        <h2 hidden>{{ formName.nombreS }}</h2>
        <h2 hidden>{{ formName.nombreO }}</h2>
    </form>
    <form class="form" method="get" enctype="multipart/form-data" id="formNameS">
        {% csrf_token %}
        <h2 hidden>{{ formName.nombreB }}</h2>
        <h2>{{ formName.nombreS }} <span class="material-icons btn" onclick="saveS();">save</span><span class="material-icons btn" onclick="history.back();">cancel</span></h2>
        <h2 hidden>{{ formName.nombreO }}</h2>
    </form>
    <form class="form" method="get" enctype="multipart/form-data" id="formNameO">
        {% csrf_token %}
        <h2 hidden>{{ formName.nombreB }}</h2>
        <h2 hidden>{{ formName.nombreS }}</h2>
        <h2>{{ formName.nombreO }} <span class="material-icons btn" onclick="saveO();">save</span><span class="material-icons btn" onclick="history.back();">cancel</span></h2>
    </form>
</div>

{% endif %}

<form class="form" method="post" enctype="multipart/form-data" id="form">
	{% csrf_token %}
	{{ form }}
	<div class="d-grid gap-2">
		<button type="submit"  class="btn btn-outline-dark">{{ boton }}</button>
	</div>
</form>
{% if request.user.is_authenticated %}
	<div class="container">
		<h5 class="mb-2 ms-4">Comparti tu LE:</h5>
		<div class="row">
			<div class="col-8 offset-5">
				<div class="btn-group" role="group" aria-label="Basic outlined example">
					<a type="button" class="btn btn-outline-dark" href="https://api.whatsapp.com/send?text=https://mi.leyendo.online/leyendo/{{ user.profile.user }}" target="_blank"> 
						<span class="material-icons">whatsapp</span>
					</a>
					<p id="copy_data" style="display: none;">mi.leyendo.online/leyendo/{{ user.profile.user }}</p>
					<button type="button" class="btn btn-outline-dark" onclick="copiarAlPortapapeles('copy_data')" id="copy_url">
						<span class="material-icons">content_copy</span>
					</button>
				</div>
			</div>
		</div>
		<h5 class=" ms-4">Baja la app</h5>
		<div class="row">
			<div class="col-8 offset-5">
				<div class="btn-group" role="group">
					<a href="#" type="button" class="btn btn-outline-dark"><span class="material-icons">android</span></a>
					<a href="#" type="button" class="btn btn-outline-dark">IOS</a>
				</div>
			</div>
		</div>
	</div>
{% endif %}
{% endblock %}