{% extends 'social/layout.html' %}
{% load static%}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'functions.js' %}"></script>

{% if request.user.is_authenticated %}
<div class="row">
	<div class="col-12">
        {% if user.profile.modo == 'Business' %}
		    <img src="{{ user.profile.portadaB.url}}" class="img-fluid img-responsive" style="height: 200px; width: inherit;" alt="">
        {% elif user.profile.modo == 'Social' %}
            <img src="{{ user.profile.portadaS.url}}" class="img-fluid img-responsive" style="height: 200px; width: inherit;" alt="">
        {% else %}
            <img src="{{ user.profile.portadaO.url}}" class="img-fluid img-responsive" style="height: 200px; width: inherit;" alt="">
        {% endif %}
	</div>
</div>
<div class="profile">
    <img id="id_nombreB" class="circle2" src="{{ user.profile.imageB.url }}" alt="">
    <h2 id="nombreB" onclick="changeNameB()">{{ user.profile.nombreB }}
		<br><center><span class="material-icons" title="Cambiar foto">edit</span></center></h2>
    <img id="id_nombreS" class="circle2" src="{{ user.profile.imageS.url }}" alt="">
    <h2 id="nombreS" onclick="changeNameS()">{{ user.profile.nombreS }}
		<br><center><span class="material-icons" title="Cambiar foto">edit</span></center></h2>
    <img id="id_nombreO" class="circle2" src="{{ user.profile.imageO.url }}" alt="">
    <h2 id="nombreO" onclick="changeNameO()">{{ user.profile.nombreO }}
		<br><center><span class="material-icons" title="Cambiar foto">edit</span></center></h2>
    <form class="form" method="get" enctype="multipart/form-data" id="formNameB">
        {% csrf_token %}
        <h2>{{ formName.nombreB }} <span class="material-icons btn" onclick="saveB();">save</span><span class="material-icons btn" onclick="history.back();">cancel</span></h2>
        <h2 hidden>{{ formName.nombreS }}</h2>
        <h2 hidden>{{ formName.nombreO }}</h2>
    </form>
    <form class="form" method="get" enctype="multipart/form-data" id="formNameS">
        {% csrf_token %}
        <h2 hidden>{{ formName.nombreB }}</h2>
        <h2>{{ formName.nombreS }} <span class="material-icons btn" onclick="saveS();">save</span><span class="material-icons btn" onclick="history.back();">cancel</span></h2>
        <h2 hidden>{{ formName.nombreO }}</h2>
    </form>
    <form class="form" method="get" enctype="multipart/form-data" id="formNameO">
        {% csrf_token %}
        <h2 hidden>{{ formName.nombreB }}</h2>
        <h2 hidden>{{ formName.nombreS }}</h2>
        <h2>{{ formName.nombreO }} <span class="material-icons btn" onclick="saveO();">save</span><span class="material-icons btn" onclick="history.back();">cancel</span></h2>
    </form>
</div>

{% endif %}

<form class="form" method="post" enctype="multipart/form-data" id="form">
	{% csrf_token %}
	{{ form }}
	<div class="d-grid gap-2">
		<button type="submit"  class="btn btn-outline-dark">{{ boton }}</button>
		<center><a href="{% url 'login' %}"><u>Iniciar Sesion</u></a></center>
	</div>
</form>
{% if request.user.is_authenticated %}
	<div class="container">
		<h5 class="mb-2 ms-4">Comparti tu LE:</h5>
		<div class="row">
			<div class="col-8 offset-5">
				<div class="btn-group" role="group" aria-label="Basic outlined example">
					<a type="button" class="btn btn-outline-dark" href="https://api.whatsapp.com/send?text=https://mi.leyendo.online/leyendo/{{ user.profile.user }}" target="_blank"> 
						<span class="material-icons">whatsapp</span>
					</a>
					<p id="copy_data" style="display: none;">mi.leyendo.online/leyendo/{{ user.profile.user }}</p>
					<button type="button" class="btn btn-outline-dark" onclick="copiarAlPortapapeles('copy_data')" id="copy_url">
						<span class="material-icons">content_copy</span>
					</button>
				</div>
			</div>
		</div>
		<h5 class=" ms-4">Baja la app</h5>
		<div class="row">
			<div class="col-8 offset-5">
				<div class="btn-group" role="group">
					<a href="#" type="button" class="btn btn-outline-dark"><span class="material-icons">android</span></a>
					<a href="#" type="button" class="btn btn-outline-dark">IOS</a>
				</div>
			</div>
		</div>
	</div>

    <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
       <div class="modal-dialog modal-lg">
          <div class="modal-content">
             <form class="avatar-form" action="{% url 'editprofile' username=user.profile.user %}" enctype="multipart/form-data" method="post">
                <div class="modal-header">
                   <button class="close" data-dismiss="modal" type="button">&times;</button>
                   <h4 class="modal-title" id="avatar-modal-label">Subir avatar</h4>
                </div>
                <div class="modal-body">
                   <div class="avatar-body">
                      <div class="avatar-upload">
                         <input class="avatar-src" name="avatar_src" type="hidden">
                         <input class="avatar-data" name="avatar_data" type="hidden">
                         <label for="avatarInput">subir foto</label>
                         <input class="avatar-input" id="avatarInput" name="avatar_file" type="file"></div>
                      <div class="row">
                         <div class="col-md-9">
                            <div class="avatar-wrapper"></div>                     </div>
                         <div class="col-md-3">
                            <div class="avatar-preview preview-lg"></div>
                            <div class="avatar-preview preview-md"></div>
                            <div class="avatar-preview preview-sm"></div>
                         </div>
                      </div>
                      <div class="row avatar-btns">
                         <div class="col-md-9">
                                       <div class="btn-group">
                               <button class="btn" data-method="zoom" data-option="0.1" type="button" title="Acercar la imagen"><i class="fa fa-repeat"></i> Acercar la imagen</button>
                            </div>
                                    <div class="btn-group">
                               <button class="btn" data-method="zoom" data-option="-0.1" type="button" title="Disminuir el zoom"><i class="fa fa-repeat"></i> Disminuir el zoom</button>
                            </div>
                                    <div class="btn-group">
                               <button class="btn" data-method="setDragMode" data-option="move" type="button" title="Mover imagen"><i class="fa fa-repeat"></i> Mover imagen</button>
                            </div>
                         </div>
                         <div class="col-md-3">
                            <button class="btn btn-success btn-block avatar-save" type="submit"><i class="fa fa-save"></i>Guardar cambios</button>
                         </div>
                      </div>
                   </div>
                </div>
                {% csrf_token %}
             </form>
          </div>
       </div>
    </div>

    <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>

{% endif %}
{% endblock %}